<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TBANK | Details </title>
    <link rel="shortcut icon" href="/static/images/bank.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id="fixednav">
        <ul id="navbar">
            <li class="items">
                <div id="logo">
                    <img src="/static/images/banknav.png" alt="tbank.com">
                    <a href="/">
                        TBANK
                    </a>
                </div>

            </li>
            <li class="items">
                <a href="/">Home</a>
            </li>
            <li class="items">

                <a href="/customers">All Customers</a>
            </li>
            <li class="items">
                <a href="/customers/allTransactions">All Transactions</a>

            </li>


        </ul>
    </div>

    <div id="detailBox">
        <h2>
            <%= customerDetail.name %>
        </h2>
        <div class="box">

            <img src="/static/images/dob.png" , alt="">

            <p>
                <%= customerDetail.DOB %>
            </p>
        </div>


        <div class="box">
            <img src="/static/images/gender.png" , alt="">
            <p>
                <%= customerDetail.gender %>
            </p>

        </div>


        <div class="box">

            <img src="/static/images/balance.png" , alt="">
            <p>
                <%= customerDetail.currentBalance %>
            </p>

        </div>


        <div class="box">
            <img src="/static/images/number.png" , alt="">
            <p>
                <%= customerDetail.mobileNumber %>
            </p>

        </div>


        <div class="box">
            <img src="/static/images/gmail.png" , alt="">
            <p>
                <%= customerDetail.email %>
            </p>


        </div>
        <hr class="hrclass">

        <div class="btn1">
            <a href="/customers/transfermoney/<%= customerDetail._id %>">Transfer Money</a>

        </div>
    </div>


    <div id="footer">
        <div class="footer-first">
            <div class="socialdiv">
                <h2>Our Social Networks</h2>
                <div class="socials">
                    <a href="https://www.facebook.com/ChiragJain7300"><img src="/static/images/social/facebook.png"></a>
                    <a href="https://www.instagram.com/chirag_jain_73/"><img src="/static/images/social/instagram.png"></a>
                    <a href="https://twitter.com/Chiragj61986546"><img src="/static/images/social/twitter.png"></a>
                    <a href="https://www.linkedin.com/in/chirag-jain-7300/"><img src="/static/images/social/linkedin.png"></a>
                    <a href="https://github.com/ChiragJain7300"><img src="/static/images/social/github.png"></a>

                </div>
            </div>

            <div class="contact">
                <h2>Contact Us</h2>
                <div class="email">
                    <img src="/static/images/social/email.png">
                    <p>chiragjain7300@gmail.com</p>
                </div>
                <div class="email">
                    <img src="/static/images/social/phone.png">
                    <p>+91 6377674672</p>
                </div>
            </div>

        </div>

        <div class="copyright">
            <p>&copy; Copyright 2021 Chirag Jain</p>

        </div>

    </div>





</body>

</html>